<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Computed Styles -->
    <!-- <link rel="stylesheet" href="app2.css"> -->
    <!-- Google Fonts: Lobster & Montserrat -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600&display=swap"
        rel="stylesheet">
    <!-- FontAwesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <title>NextTrek! Travel Planning</title>
</head>

<body>
    <header>
        <nav>
            <button class="nav-btn">Saved Trips</button>
            <button class="nav-btn">Packing Lists</button>
            <button class="nav-btn">To Do Lists</button>
        </nav>
        <div class="banner"></div>
        <div class="banner-text">
            <h1>NextTrek!</h1>
            <h2>your adventure awaits</h2>
        </div>

        <!-- Output Banner -->
        <!-- <div class="output-banner"></div>
        <div class="output-banner-overlay"></div>
        <div class="output-banner-text">
            Your trip to Paris, France
        </div> -->

    </header>
    <main>
        <!-- <div class="output">
            <h2>Hello, Traveler!</h2>
            <p>
                I can see that you are traveling to Paris from X to X. Your trip is X days and X nights long.
            </p>
            <p>
                Here are some details about your trip:
            </p>

            <h3>Forecast</h3>
            <div class="forecast">
                <div class="forecast-row">
                    <div class="forecast-date">
                        S - 3/30
                    </div>
                    <div class="forecast-icon">
                        <i class="fas fa-sun"></i>
                    </div>
                    <div class="forecast-high">
                        100*F
                    </div>
                    <div class="forecast-slash">
                        /
                    </div>
                    <div class="forecast-low">
                        30*F
                    </div>
                </div>
                <div class="forecast-row">
                    <div class="forecast-date">
                        S - 3/30
                    </div>
                    <div class="forecast-icon">
                        <i class="fas fa-sun"></i>
                    </div>
                    <div class="forecast-high">
                        100*F
                    </div>
                    <div class="forecast-slash">
                        /
                    </div>
                    <div class="forecast-low">
                        30*F
                    </div>
                </div>
                <div class="forecast-row">
                    <div class="forecast-date">
                        M - 3/31
                    </div>
                    <div class="forecast-icon">
                        <i class="fas fa-sun"></i>
                    </div>
                    <div class="forecast-high">
                        100*F
                    </div>
                    <div class="forecast-slash">
                        /
                    </div>
                    <div class="forecast-low">
                        30*F
                    </div>
                </div>
                <div class="forecast-row">
                    <div class="forecast-date">
                        T - 4/1
                    </div>
                    <div class="forecast-icon">
                        <i class="fas fa-sun"></i>
                    </div>
                    <div class="forecast-high">
                        100*F
                    </div>
                    <div class="forecast-slash">
                        /
                    </div>
                    <div class="forecast-low">
                        30*F
                    </div>
                </div>
                <div class="forecast-row">
                    <div class="forecast-date">
                        W - 4/2
                    </div>
                    <div class="forecast-icon">
                        <i class="fas fa-sun"></i>
                    </div>
                    <div class="forecast-high">
                        100*F
                    </div>
                    <div class="forecast-slash">
                        /
                    </div>
                    <div class="forecast-low">
                        30*F
                    </div>
                </div>
            </div>

            <h3>Packing List</h3>

        </div> -->


        <div class="container">
            <h3>
                Enter your travel dates:
            </h3>
            <form>
                <label for="destination">
                    <span class="form-label">Destination:</span>
                    <input type="text" placeholder="City" />
                </label>
                <label for="trip-start">
                    <span class="form-label">Departing:</span>
                    <input type="datetime-local" />
                </label>
                <label for="trip-end">
                    <span class="form-label">Returning:</span>
                    <input type="datetime-local" />
                </label>
                <button>Submit</button>
            </form>
        </div>
    </main>

    <!-- <div id="container" class="center-center">
        <div id="main">
            <h1>Weather Journal</h1>
            <div id="journal-prompt" class="card">
                <form action="" id="weather-form">
                    <div id="location">
                        <label for="zip">
                            <h2>Where are you located?</h2>
                            <input name="zip" id="zip" placeholder="enter zip code here" maxlength="5" type="text"
                                required></input>
                        </label>
                    </div>
                    <div id="prompt">
                        <label for="feelings">
                            <h2>How are you feeling today?</h2>
                            <textarea name="feelings" id="feelings" cols="20" rows="7"
                                placeholder="Describe your mood..." required></textarea>
                        </label>
                    </div>
                    <h2>Select your mood:</h2>
                    <div id="mood">
                        <input type="radio" name="gender" value="female" class="v-sad" id="depressed">
                        <label for="depressed" class="v-sad moods" id="fa-sad-tear" tabindex="0">
                        </label>

                        <input type="radio" name="gender" value="female" class="sad" id="sad">
                        <label for="sad" class="sad moods" id="fa-frown" tabindex="0">
                        </label>

                        <input type="radio" name="gender" value="female" class="happy" id="happy">
                        <label for="happy" class="happy moods" id="fa-smile" tabindex="0">
                        </label>

                        <input type="radio" name="gender" value="female" class="meh" id="meh">
                        <label for="meh" class="meh moods" id="fa-meh" tabindex="0">
                        </label>

                        <input type="radio" name="gender" value="female" class="angry" id="angry">
                        <label for="angry" class="angry moods" id="fa-angry" tabindex="0">
                        </label>
                    </div>
                    <div id="execute">
                        <button id="generate">
                            <h3>Submit</h3>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div id="entryContainer">
            <div class="card" id="entryHolder">
                <div id="date">
                    <h2 id="date-label"></h2>
                </div>
                <div class="entries">
                    <div id="data-r1" class="center-center">
                        <div id="mood">
                            <i id="moodIcon" class="fas"></i>
                        </div>
                        <div id="weather">
                            <img></img>
                        </div>
                        <div id="temp" class="center-center">
                        </div>
                    </div>
                    <div id="data-r2">
                        <div id="mood-name" class="center-center">
                        </div>
                        <div id="weather-name" class="center-center">
                        </div>
                        <div id="temp-feels" class="center-center">
                        </div>
                    </div>
                    <h2 id="entry-Title">Journal Entry</h2>
                    <div id="content"></div>
                </div>
            </div>
            <button id="back">
                <h3> <i class="fas fa-angle-left"></i>Back</h3>
            </button>
        </div>
    </div> -->
    <!-- <script src="app.js"></script> -->
</body>

</html>