// typefaces
$fancy-font: 'lobster', serif;
$plain-font: 'montserrat', sans-serif;

// color scheme
$background: #edddd4;
$h1-color: #c44536;
$h2-color: #197278;
$h2-color-light: #83A8A6;
$cool-accent: #283d3b;
$warm-accent: #772e25;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: $background;
    font-family: $plain-font;
}

h1 {
    font: 20vw $fancy-font;
    color: $h1-color;
    text-shadow: 2px 3px 0 $background, 2px 4px 0 $background,  2px 5px 0 $background;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    line-height: 0.9em;
}

h2 {
    font: 8vw $fancy-font;
    color: $h2-color;
    margin: 0 0 20px 0;
    text-align: center;
}

input,
button,
select,
.text-input {
    margin: 5px 0 20px 0;
    padding: 15px;
    box-sizing: border-box;
    width: 80vw;
    border: none;
    background: $h2-color-light;
    font-family: $plain-font;
    color: #000;
}

button:hover,
input[type='submit']:hover,
a:hover,
select:hover {
    opacity: 0.8;
    cursor: pointer;
}

.text-input {
    text-align: left;
}

input::placeholder {
    color: #000;
}

/*TABLET */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 15vw;
    }

    h3 {
        font-size: 6vw;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 3vw;
    }

    input,
    button,
    .trip-city {
        width: 45vw;
    }

    body {
        display: flex;
        flex-direction: row;
    }
}

