@import 'base.scss';

header {
    .banner {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $h2-color url('https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1586&q=80');
        background-size: cover;
    }

    .postage-mark {
        width: 30vw;
        position: absolute;
        top: 15px;
        right: 15px;
        filter: invert(1);
        transform: scaleX(-1);
    }

    .home-btn {
        position: absolute;
        top: 16px;
        right: 15px;
        background: white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $h1-color;
        }
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        height: 8vh;
        background-color: #43878A;

        .main-nav-btn {
            width: 95%;
            font-size: 3.5vw;
            margin: 10px 0;
            background-color: $background;
            color: $h1-color;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}

/* TABLET */
@media only screen and (min-width: 768px) {
    header {
        .postage-mark {
            width: 20vw;
        }

        .home-btn {
            top: 15px;
            height: 45px;
            width: 45px;
            a {
                font-size: 3vw;
            }
        }

        nav {
            height: 7vh;

            .main-nav-btn {
                width: 98vw;
                font-size: 2.5vw;
                line-height: 3vw;
            }
        }
    }

}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    header {
        width: 50%;
        z-index: 100;

        .postage-mark {
            position: fixed;
            width: 10vw;
            left: 39%;
        }

        .home-btn {
            position: fixed;
            top: 16px;
            left: 46.2%;
            height: 3vw;
            width: 3vw;
            a {
                font-size: 1.5vw;
            }
        }

        .banner {
            height: 100vh;
            width: 50vw;
            box-sizing: border-box;
            position: fixed;
            background-position: center;
        }

        nav {
            justify-content: center;
            position: fixed;
            top: 0;
            left: 50vw;
            width: 50vw;
            height: 10vh;
            box-sizing: border-box;
            z-index: -1;

            .main-nav-btn {
                width: 96%;
                font-size: 1vw;
                height: 7vh;
                line-height: 1em;
            }
        }
    }
}