@import 'base.scss';


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    background-color: $h3-color;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1586&q=80');
}
header {
    margin: 0;
    padding: 0;
    // height: 38vh;
    top: 0;
    left: 0;

    nav {
        display: flex;
        justify-content: space-evenly;
        background-position-y: bottom;
        height: 8vh;
        opacity: 0.8;
        background-color: $h3-color;

        .nav-btn {
            width: 30%;
            font-size: 3vw;
            opacity: 1;
            padding: 0;
            margin: 10px 0;
            background-color: $background;
            color: $h1-color;
        }
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 30vh;
        // // background-image: url("https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1586&q=80");
        // width: 100vw;
        // height: 30vh;
        // margin: 0;
        // padding: 0;
        // // // opacity: 0.9;
        // z-index: -1;
            //   display: flex;
            //   flex-direction: column;
            //   align-items: center;
            //   justify-content: center;
            //   position: relative;
        // &::before {
        //     content: '';
        //     background-size: cover;
        //     position: absolute;
        //     top: 0px;
        //     right: 0px;
        //     bottom: 0px;
        //     left: 0px;
        //     opacity: 0.8;
        //     background-color: $h3-color;
        // }
    }
}

.enjoy {
    // display: none;
    // color: $h3-color;
    color: white;
    font-family: $plain-font;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    top: 3vh;
    left: 3vh;
    font-size: 5vw;
    transform: rotate(-4deg);
    background: $h1-color;
}

.postage-mark {
    // width: 10%;
    width: 30vw;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.7;
    filter: invert(1);
    transform: scaleX(-1);
}

/* TABLET */
@media only screen and (min-width: 768px) {
    header {
        nav {
            height: 6vh;

            .nav-btn {
                width: 30%;
                font-size: 2vw;
            }
        }
    }
    .postage-mark {
        width: 20vw;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    header {
        width: 50%;
        .banner {
            height: 100vh;
            width: 50vw;
        }
        nav {
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 50vw;

            .nav-btn {
                width: 20%;
                font-size: 1vw;
                opacity: 1;
                padding: 0;
                margin: 10px 20px;
            }
        }
    }

    .postage-mark {
        width: 10vw;
        top: 8%;
        left: 39%;
    }
}