@import 'base.scss';

///
.select-categories:hover {
    cursor: pointer;
}
///

.new-trip-container {
    display: none;
    padding-top: 20px;
    flex-direction: column;

    h2 {
        margin-bottom: 0;
    }

    .travel-summary {
        font-size: 0.8em;
        padding: 0 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .form-label,
        .trip-details {
            width: 50%;
        }
    }

    .weather {
        background: $h2-color-light;
        color: white;

        h2 {
            margin-top: 20px;
            color: $background;
        }

        .more-days {
            font-size: 0.8em;
            text-align: center;
            margin: 20px 0;
        }

        .more-days:hover {
            color: $cool-accent;
            cursor: pointer;
        }

        .long-forecast {
            width: 80vw;
            font-size: 0.8em;
            margin: 20px auto;
        }
    }

    .forecast-row,
    .new-items-row {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        width: 90vw;
        margin: 0 auto;

        textarea {
            width: 70vw;
            padding: 14px 7px 0 7px;
        }

        button {
            width: 12vw;
        }
    }

    .new-items-row {
        margin-top: 20px;
    }

    .forecast-row {
        .forecast-date,
        .forecast-temp {
            padding: 0 10px;
            font-size: 0.9em;
            box-sizing: border-box;
        }

        .forecast-date {
            width: 20vw;
            padding-left: 20px;
        }

        .forecast-icon {
            width: 10vw;
        }

        .forecast-temp {
            width: 40vw;
            padding-left: 30px;
        }
    }

    .packing-list-container,
    .todo-list-container {
        background-color: #43878A;
        color: $background;
        padding: 20px 0 0 0;

        h2 {
            color: $background;
            margin-bottom: 20px;
        }

        .add-item-form {
            display: flex;
            margin: auto 5vw;

            input {
                width: 40vw;
            }

            select {
                opacity: 0.8;
                width: 35vw;
            }

            button {
                opacity: 0.5;
                width: 15vw;
            }
        }

        .select-categories {
            width: 90vw;
            margin: 0 auto 20px auto;

            .new-items-row {
                margin: 10px auto;

                textarea {
                    width: 70vw;
                    height: 5.7vh;
                    background-color: $h2-color-light;
                    color: black;
                    font-family: $plain-font;
                    border: none;
                    box-sizing: border-box;
                    padding: 15px 0 0 10px;
                }

                button {
                    width: 12vw;
                    margin: 0;
                    opacity: 0.8;
                }
            }
            }
    }

    .todo-list-container {
        background-color: #197278;

        .todo-list-btn-container {
           .select-categories {
               .new-items-row {
                    textarea {
                        height: 5.6vh;
                    }
               }
           }
        }
    }
}

.trip-btn-container {
    display: flex;
}

.save-trip-btn,
.discard-trip-btn {
    margin: 0 !important;
    width: 50vw;
    background: $h1-color;
    color: white;

    a {
        color: $background;
        text-decoration: none;
    }
}

.discard-trip-btn {
    background-color: #772e25;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    .new-trip-container {
        .travel-summary {
            font-size: 2.5vw;
            width: 70vw;
            margin: 0 auto 20px auto;

            p {
                width: 100%;
            }

            .form-label,
            .trip-details {
                width: 34vw;
            }
        }

        .forecast-row {
            width: 45vw;
            .forecast-temp,
            .forecast-date {
                font-size: 2.5vw;
            }

            .forecast-icon {
                width: 6vw;
            }
        }

        .weather {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            h2 {
                width: 100vw;
            }
            .more-days {
                font-size: 2.5vw;
                width: 100vw;
            }

            .long-forecast {
                font-size: 2.5vw;
            }
        }

        .add-item-form {
            input,
            select,
            button {
                height: 6vh;
                font-size: 2.5vw;
            }
        }
    }

    .discard-trip-btn,
    .save-trip-btn {
        font-size: 2.5vw;
        height: 7vh;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    .new-trip-container {
        width: 49.4vw;
        position: absolute;
        top: 10vh;
        left: 49.4vw;

        h2 {
            text-align: center;
        }

        .travel-summary {
            width: 40vw;
            font-size: 1.25vw;
            background-color: $background;

            .form-label {
                width: 60%;
            }

            .trip-details {
                width: 40%;
            }
        }

        .weather {
            width: 49.4vw;

            .forecast-row {
                .forecast-date,
                .forecast-temp {
                    font-size: 1.25vw;
                }

                .forecast-date {
                    width: 8vw;
                }

                .forecast-temp {
                    width: 15vw;
                }

                .forecast-icon {
                    width: 3vw;
                }
            }

            .more-days,
            .long-forecast {
                font-size: 1.25vw;
            }

            .long-forecast {
                width: 40vw;
            }
        }

        .packing-list-container,
        .todo-list-container {
            width: 49.4vw;

            .add-item-form {
                input,
                select,
                button {
                    font-size: 1vw;
                    height: 7vh;
                }
                input {
                    width: 20vw;
                }
                select {
                    width: 15vw;
                }
                button {
                    width: 5vw;
                }
            }
        }

        .trip-btn-container {
            width: 49.4vw;

            .discard-trip-btn,
        .save-trip-btn {
            font-size: 1.2vw;
            width: 50%;
        }
        }
    }
 }