@import 'base.scss';



.new-trip-container {
    display: none;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;

    h2 {
        margin-bottom: 0;
    }

    .travel-summary {
        font-size: 0.8em;
        padding: 0 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .form-label {
            width: 60%;
        }

        .trip-details {
            width: 40%;
        }
    }

    .forecast {
        width: 100vw;
        background: $h2-color-light;
        color: white;

        h2 {
            margin-top: 20px;
            color: $background;
        }

        .more-days {
            font-size: 0.8em;
            text-align: center;
            margin: 20px 0;
        }

        .more-days:hover {
            color: $cool-accent;
            cursor:pointer;
        }

        .long-forecast {
            // color: $background;
            width: 80vw;
            font-size: 0.8em;
            margin: 20px auto;
        }
    }

    .forecast-row,
    .packing-list-row,
    .todo-list-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 6vh;
    }

    .forecast-row {
        .forecast-date,
        .forecast-high {
            padding: 0 10px;
            font-size: 0.9em;
            box-sizing: border-box;
        }

        .forecast-date {
            width: 20vw;
            padding-left: 20px;
        }

        .forecast-icon {
            width: 10vw;
        }

        .forecast-high {
            width: 40vw;
            padding-left: 30px;
        }
    }

    .packing-list-container,
    .todo-list-container {
        background-color: #43878A;
        color: $background;
        padding: 20px 0 0 0;

        h2 {
            color: $background;
            margin-bottom: 20px;
        }

        .packing-list-btn-container,
        .todo-list-btn-container { // better name for form container 
            .packing-list-form,
            .todo-list-form {
                display: flex;
                flex-direction: row;
                margin: auto 5vw;

                input {
                    width: 40vw;
                }

                select {
                    opacity: 0.8;
                    width: 35vw;
                }

                button {
                    opacity: 0.5;
                    width: 15vw;
                }
            }

            .select-categories {
                width: 90vw;
                margin: 0 auto 20px auto;

                .packing-list-row,
                .todo-list-row {
                    margin: 10px auto;

                    textarea {
                        width: 70vw;
                        height: 5.7vh;
                        background-color: $h2-color-light;
                        color: black;
                        font-family: $plain-font;
                        border: none;
                        box-sizing: border-box;
                        padding: 15px 0 0 10px;
                    }

                    button {
                        width: 12vw;
                        margin: 0;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .todo-list-container {
        background-color: #197278;

        .todo-list-btn-container { // better name for form container
           .select-categories {
               .packing-list-row {
                    textarea {
                        height: 5.6vh;
                    }
               }
           }
        }
    }
}

.trip-btn-container {
    display: flex;
}

.save-trip-btn {
    margin: 0 !important;
    width: 50vw;
    background: $h1-color;
    color: white;

    a {
        color: $background;
        text-decoration: none;
    }
}

.discard {
    background-color: #772e25;
}