@import 'base.scss';

// move in hierarchy later
.stv-item,
.stv-category {
    width: 30vw;
    font-size: 0.9em;
}

.edit-items-stv,
.delete-items-stv,
.toggle {
    width: 15vw;
    font-size: 1em;
    background: transparent;
}
///

.saved-trips {
    .new-items-row {
        height: 7vh;
        font-size: 0.9em;
        margin: 0;
        border-bottom: 1px solid $background;
        box-sizing: border-box;
        background: $h2-color;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .trip-dates {
            width: 25%;
            padding: 22px 0 0 0 ;
            margin: 0;
            background-color: transparent;
            border: none;
            font-family: $plain-font;
            font-size: 1em;
            color: white;
            text-align: center;
        }

        .trip-city {
            width: 33%;
            text-align: center;
        }

        .trip-actions {
            width: 34%;
            display: flex;
        }

        .trip-actions > * {
            padding: 5px;
            padding: 5px;
            color: white;
            background: transparent;
            font-size: 2vh;
            margin: 0;
        }
    }

    .packing-list,
    .todo-list {
        .saved-trip-packing-list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 5vh;
            background: $h2-color-light;

            textarea {
                width: 30vw;
                border: none;
                font-size: 0.9em;
                background: transparent;
                font-family: $plain-font;
                padding-top: 32px;
                margin: 0;
            }

            button {
                margin: 0;
                padding: 0;
            }

            * {
                text-align: center;
            }
        }

        p {
            font-size: 0.9em;
            text-align: center;
            margin: 20px;
            display: block;
        }

        .add-item-form {
            display: flex;
            margin: 0;

            * {
                margin: 0;
            }

            input {
                width: 50vw;
            }

            select {
                opacity: 0.8;
                width: 35vw;
            }

            button {
                opacity: 0.5;
                width: 15vw;
            }
        }
    }

    .weather {
        width: 100vw;
        background: $h2-color-light;
        color: white;
        flex-direction: column;

        h2 {
            margin-top: 20px;
            color: $background;
        }

        .more-days {
            font-size: 0.8em;
            text-align: center;
            margin: 20px 0;
        }

        .more-days:hover {
            color: $cool-accent;
            cursor:pointer;
        }

        .long-forecast {
            width: 80vw;
            font-size: 0.8em;
            margin: 20px auto;
        }
    }

    .forecast-row,
    .new-items-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 6vh;
    }

    .forecast-row {
        .forecast-date,
        .forecast-temp {
            padding: 0 10px;
            font-size: 0.9em;
            box-sizing: border-box;
        }

        .forecast-date {
            width: 20vw;
            padding-left: 20px;
        }

        .forecast-icon {
            width: 10vw;
        }

        .forecast-temp {
            width: 40vw;
            padding-left: 30px;
        }
    }
}

.packed {
    opacity: 0.5;
}

.trip-saved-container,
.no-trips-container {
    height: 62vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    .trip-saved-container {
        .no-trips-container {
            font-size: 2.5vw;
        }

        #view-saved-trips {
            width: 40vw;
            font-size: 2.5vw;
        }
    }
    .saved-trips {
        font-size: 2.5vw;

        .packing-list,
        .todo-list {
            font-size: 3vw;

            .add-item-form {
                input,
                select,
                button {
                    font-size: 2.5vw;
                    height: 7vh;
                }
            }

            .saved-trip-packing-list {
                height: 7vh;

                textarea {
                    padding-top: 25px;
                }
            }
        }

        .weather {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .forecast-row {
                width: 50vw;
            }
        }
    }

    .save-btn {
        font-size: 2.25vw;
    }

}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    .trip-saved-container,
    .no-trips-container {
        position: absolute;
        top: 15vh;
        left: 50vw;
        width: 50vw;
        padding: 0;

        button, 
        #view-saved-trips {
            width: 25vw;
            font-size: 1vw;
        }
    }

    .saved-trips {
        font-size: 1.5vw;
        position: absolute;
        top: 10vh;
        left: 50vw;

        .new-items-row {
            width: 50vw;
            height: 8vh;

            textarea {
                height: 5vh;
                padding-top: 15px;
            }

            .trip-actions > * {
                font-size: 1.25vw;
            }
        }

        .packing-list,
        .todo-list {
            font-size: 1.5vw;

            .add-item-form {
                input, 
                select,
                button {
                    font-size: 1.25vw;
                }

                input {
                    width: 25vw;
                }
    
                select {
                    width: 20vw;
                }
    
                button {
                    width: 5vw;
                }
            }

            .save-trip-btn, 
            .discard-trip-btn {
                width: 25vw;
                font-size: 1.25vw;
            }

            .saved-trip-packing-list {
                button {
                    width: 5vw
                }

                textarea, 
                .stv-category {
                    width: 15vw;
                }

                textarea {
                    height: 5vh;
                    padding-top: 10px;
                }
            }
        }

        .weather {
            width: 50vw;
            padding-top: 10px;

            .forecast-row {
                width: 30vw;
                margin: 0 auto;

                .forecast-date {
                    width: 10vw;
                    text-align: center;
                }

                .forecast-temp {
                    width: 18vw;
                }

                .forecast-icon {
                    width: 3vw;
                }
            }

            .long-forecast {
                width: 40vw;
            }
        }
    }
}