@import 'base.scss';

.container {
    height: 62vh;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-label {
    font-family: $plain-font;
    font-weight: bold;
    text-transform: uppercase;
    color: $h1-color;
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    .container {
        height: 100vh;
        width: 50vw;
        padding: 0;
    }

    form {
        width: 45vw;
        margin: 0 auto;
    }

    .form-label {
        display: block;
    }
}