@import 'base.scss';

.output {
    display: none;
    &.display-on {
        display: block;
        height: 62vh;
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: -1;
    }
}

.forecast {
    width: 80vw;
    color: white;
}

.forecast-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    background: $h3-color;
    opacity: 0.5;
    border-radius: 50px;
}

.forecast-date,
.forecast-icon,
.forecast-high {
    padding: 0 10px;
    font-size: 4vw;
    color: white;
}

.forecast-date {
    padding-left: 50px;
}

.forecast-high {
    width: 60%;
}

.forecast-icon {
    width: 10vw;
    position: relative;
}

.forecast-icon:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    top: 0;
    left: 0;
    display: block;
    content: "";
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

}