@import 'base.scss';

.packing-list-container,
.todo-list-container {
    background-color: #43878A;
    width: 100vw;
    color: $background;
    padding: 20px 0;

    h2 {
        color: $background;
    }
}

.todo-list-container {
    background-color: #197278;
}

.packed {
    opacity: 0.5;
}

.select-categories { // include others as well
    margin: 0 20px;
}

.packing-list-form {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 0 20px;

    #pack-list-input {
        width: 50vw;
        font-family: $plain-font;
        color: $h2-color;
        border: none;
        background: #83A8A6;
        padding: 10px;
        box-sizing: border-box;
    }

    select {
        width: 35vw;
        background: #83A8A6;
        box-sizing: border-box;
        opacity: 0.8;
    }

    button {
        width: 15vw;
        background: #83A8A6;
        opacity: 0.5;
        box-sizing: border-box;

    }

    #todo-list-input {
        width: 50vw;
        font-family: $plain-font;
        color: $h2-color;
        border: none;
        background: #83A8A6;
        padding: 10px;
        box-sizing: border-box;
    }
}

.forecast-row,
    .packing-list-row,
    .todo-list-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px auto;
        background: $h2-color-light;
        height: 6vh;
        box-sizing: border-box;
    }

    .forecast-row {
        display: flex;
        justify-content: center;
        margin: 0;

        .forecast-date,
        .forecast-high {
            padding: 0 10px;
            font-size: 4vw;
            color: white;
        }

        .forecast-date {
            width: 20vw;
            padding-left: 20px;
            box-sizing: border-box;
            padding: 10px;
        }

        .forecast-icon {
            width: 10vw;
            box-sizing: border-box;
        }

        .forecast-high {
            width: 40vw;
            box-sizing: border-box;
            padding: 10px;
        }

    }

.output {
    display: none;
    padding: 20px 50px 0 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;

    h2 {
        margin-bottom: 0;
    }

    .travel-summary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.8em;
        margin-bottom: 20px;

        .form-label {
            width: 60%;
        }
    }

    .forecast {
        margin: 0;
        color: white;
        width: 100vw;
        background-color: $h2-color-light;

        h2 {
            color: $background;
            margin-top: 20px;
        }

        .more-days {
            color: $background;
            font-size: 0.8em;
            text-align: center;
            margin: 20px 0;
        }

        .more-days:hover {
            color: $cool-accent;
            cursor:pointer;
        }

        .long-forecast {
            color: $background;
            width: 80vw;
            font-size: 0.8em;
            margin-bottom: 20px;
        }
    }

    .packing-list-row {
        .packing-item-row-segment {
            font-size: 0.8em;
            color: white;
            margin: 0;
            display: flex;
            align-items: center;
            padding: 10px;
            width: 20vw;
            background: #43878A;
            box-sizing: border-box;
        }

        .packed-flag {
            width: 6vw;
            height: 6vh;
            margin: 0;
            padding: 0 0 0 10px;
        }

        .item-category {
            background-color: $h1-color;
            height: auto;
        }
    }

    #newItemValue {
        margin: 0;
        font-family: $plain-font;
        font-size: 0.8em;
        width: 70vw;
        border: none;
        height: 6vh;
        background-color: $h2-color-light;
    }

    #deleteBtn,
    #editBtn,
    .delete-btn {
        margin: 0;
        display: flex;
        justify-content: center;
        width: 12vw;
        background: $h2-color;
        height: 6vh;
    }

    .packing-item {
        margin: 0;
        width: 35vw;
        font-family: $plain-font;
        color: $h2-color;
        border: none;
        background: #83A8A6;
        overflow: scroll;
    }

    #packedFlag {
        height: 6vh;
        width: 30vw;
        display: flex;
        justify-content: center;
    }

    .item-display {
        display: none;
    }
}

.save-trip-btn {
    margin: 0 !important;
    width: 50vw;
    background: $h1-color;

    a {
        color: $background;
        text-decoration: none;
    }
}

////////



.trip-dates,
.trip-city,
.trip-actions {
    width: 33%;
    padding: 0 10px;
    text-align: center;
}

.trip-dates {
    padding-top: 20px;
    padding-right: 10px;
    background-color: transparent;
    border: none;
    font-family: $plain-font;
    font-size: 1em;
    color: white;
}

.trip-actions {
    width: 40%;
    text-align: right;
}

.trip-actions > * {
    padding: 5px;
}

.saved-trips {
    .packing-list-row {
        width: 100vw;
        height: 7vh;
        font-size: 1em;
        margin: 0;
        border-bottom: 1px solid $background;
        box-sizing: border-box;
        background: $h2-color;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .packing-item-row-segment {
            height: 4vh;
            width: 45vw;
        }
    }
}

.saved-trip-packing-list {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    padding: 0 20px;
    height: 5vh;
    background: $h2-color-light;

    textarea {
        padding-top: 20px;
    }

    * {
        padding-right: 10px;
        background-color: transparent;
        border: none;
        font-family: $plain-font;
        font-size: 1em;
    }

    div:nth-child(2),
    div:nth-child(3) {
        width: 30vw;
    }
}

/* TABLET */
@media only screen and (min-width: 768px) {
.output {
    font-size: 2.5vw;

    .travel-summary {
        font-size: 2.5vw;
        width: 60%;
    }

    .forecast-row {
        .forecast-date,
        .forecast-high {
            padding: 0 10px;
            font-size: 3vw;
            color: white;
        }

        .forecast-icon {
            width: 8vw;
            box-sizing: border-box;
        }
    }

}

#packedFlag {
    width: 23vw;
}
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    .output {
        font-size: 1em;
        width: 45vw;
        margin-top: 10vh;
        .travel-summary {
            font-size: 1em;
            width: 30vw;
        }

        .forecast-row {
            width: 30vw;
            .forecast-date,
            .forecast-icon,
            .forecast-high {
                font-size: 1em;
            }

            .forecast-date {
                width: 12vw;
                padding: 0 25px;
            }

            .forecast-icon {
                width: 2vw;
                box-sizing: border-box;
            }

            .forecast-high {
                width: 23vw;
                padding: 0 50px;
            }
        }
    }
    #packedFlag {
        width: 23vw;
    }

    .forecast,
    .packing-list-form,
    .packing-list-row {
        width: 40vw;
    }

    .forecast-icon {
        width: 3vw;
    }

    .saved-trips {
        position: absolute;
            left: 50%;
            top: 6vh;
        .packing-list-row {
            width: 50vw;
        }
    }

    }

    .saved-trips-item {
        width: 48vw;
    }
    .saved-trips-category {
        width: 40vw !important;
    }

    .trip-saved-container {
        height: 62vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
