@import 'base.scss';

.output {
    display: none;
    &.display-on {
        display: block;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: -1;
    }

    .travel-summary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.8em;

        .form-label {
            width: 60%;
        }
    }
}

.forecast {
    margin: 50px 0;
    width: 80vw;
    color: white;
}

.forecast-row,
.packing-list-row, 
.todo-list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    background: $h2-color-light;
}

.forecast-date,
.forecast-icon,
.forecast-high {
    padding: 0 10px;
    font-size: 4vw;
    color: white;
    // border: 1px solid red;
}

.forecast-date {
    width: 25%;
    padding-left: 20px;
}

.forecast-high {
    width: 60%;
}

.forecast-icon {
    width: 10vw;
    position: relative;
}

.packing-list-form {
    display: flex;
    flex-direction: row;

    #pack-list-input {
        width: 40vw;
        font-family: $plain-font;
        color: $h2-color;
        border: none;
        background: #83A8A6;
        padding: 10px;
        box-sizing: border-box;
    }

    select {
        width: 30vw;
        opacity: 0.8;
    }

    button {
        width: 12vw;
        opacity: 1;
    }
}

.packing-list-row {
    opacity: 1;
}

.packed {
    opacity: 0.5;
}

.packing-item-row-segment {
    font-size: 0.8em;
    color: white;
    margin: 0;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 20vw;
    background: #43878A;
}

.item-category {
    background-color: $h1-color;
    opacity: 1;
    height: auto;
}

.packed-flag {
    width: 6vw;
    height: 6vh;
    margin: 0;
    opacity: 1;
    padding: 0 0 0 10px;
}

#todo-list-input {
    width: 40vw;
    font-family: $plain-font;
    color: $h2-color;
    border: none;
    background: #83A8A6;
    padding: 10px;
    box-sizing: border-box;
}

#deleteBtn,
#editBtn,
.delete-btn {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 8vw;
    background: $h2-color;
    height: 6vh;
}

#packedFlag {
    height: 6vh;
    width: 21vw;
}

#newItemValue {
    margin: 0;
    font-family: $plain-font;
    font-size: 0.8em;
    width: 40vw;
}

.packing-item {
    margin: 0;
    width: 35vw;
    font-family: $plain-font;
    color: $h2-color;
    border: none;
    background: #83A8A6;
    overflow: scroll;
}
/* DESKTOP */
@media only screen and (min-width: 768px) {
.output {
    font-size: 2.5vw;
    
    .travel-summary {
        font-size: 2.5vw;
        width: 60%;
    }
}

#packedFlag {
    width: 23vw;
}
}

@media only screen and (min-width: 1024px) {
    .output {
        font-size: 1em;
        width: 45vw;
        margin-top: 10vh;
        .travel-summary {
            font-size: 1em;
            width: 30vw;
        }
    }
    #packedFlag {
        width: 23vw;
    }

    .forecast,
    .packing-list-form,
    .packing-list-row {
        width: 40vw;
    }

    .forecast-date, .forecast-icon, .forecast-high {
        font-size: 1em;
    }

    .forecast-icon {
        width: 3vw;
    }
    }