@import 'base.scss';

.initial-req-container {
    height: 62vh;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    text-transform: uppercase;
    color: $h1-color;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    #initial-request-form {
        width: 80vw;

        .form-label {
            font-size: 2.5vw;
        }

        input {
            height: 6.5vh;
            font-size: 2.5vw;
        }
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
   .initial-req-container {
       position: fixed;
       top: 15vh;
       left: 50vw;
       width: 50vw;
       height: 80vh;
       padding: 0;

       #initial-request-form {
           width: 45vw;

           .form-label {
               font-size: 1.25vw;
           }

           input {
               font-size: 1vw;
           }
       }
   }
}