body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: url("/website/imgs/topo-bg.png");
    background-size: 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {
    font-family: 'lobster', serif;
    color: #a594f9;
    font-size: 15vw;
    margin: 10px;
    transform: rotate(-10deg);
}

h2 {
    font-family: 'lobster', serif;
    color: #a594f9;
    font-size: 8vw;
    margin: 0 0 20px 0;
    text-align: center;
}

.banner-overlay {
    position: fixed;
    display: block;
    height: 30vh;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cdc1ff;
    opacity: 0.6;
    z-index: -1;
    cursor: pointer;
}

.banner {
    background-image: url("https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1266&q=80");
    background-size: 100%;
    filter: grayscale(100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 30vh;
    position: absolute;
    top: 10vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    height: 26vh;
    font-family: 'montserrat';
    color: white;
    font-size: 6vh;
    line-height: 5.5vh;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    height: 62vh;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-label {
    font-family: 'montserrat';
    font-weight: bold;
    text-transform: uppercase;
    color: #a594f9;
}

input,
button {
    margin: 5px 0 20px 0;
    font-family: 'montserrat';
    /* color: white; */
    border: none;
    background: #f5efff;
    padding: 15px;
    width: 80vw;
    box-sizing: border-box;
}

button:hover {
    transform: translateY(-10px);
}

